USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[FactDet_TriggerInsert]    Script Date: 20/02/2026 15:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 19/02/26>
-- Description:	<Description, Inserts from [dbo].[FACTURAS]>
-- =============================================
ALTER TRIGGER [dbo].[FactDet_TriggerInsert]
   ON  [dbo].[FACTURAS]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		BEGIN
			INSERT INTO [dbo].[FACT_UPDATE_AUDIT]
				(
					[ID_FACT],
					[NUMERO_FACTURA],
					[EMPRESA_ID],
					[ESTADO_OLD], 
					[ESTADO_NEW],
					[FECHA_HORA],
					[USUARIO]
				)
			SELECT i.[id], i.COMPROBANTE, 1, 'INSERTED', CAST(ISNULL(i.[NUMERO_ITEM], 0) as VARCHAR(MAX)) + ' | ' + ISNULL(i.[TIPO_PRODUCTO], '-') 
					+ ' | ' + ISNULL(i.[PRODUCTO], '-') + ' | ' + CAST(ISNULL(i.[CANTIDAD], 0) as VARCHAR(MAX)) + ' | ' + CAST(ISNULL(i.[PRECIO_UNITARIO], 0) as VARCHAR(MAX))
					+ ' | ' + CAST(ISNULL(i.[PRECIO_SOLES], 0) as VARCHAR(MAX)), GETUTCDATE(), i.[USUARIO]
			FROM inserted AS i
		END
		BEGIN
			UPDATE [FACTURAS]
				SET FACT_ID = f.id
			FROM inserted as i 
				INNER JOIN FACT_DETALLE as f
				ON i.COMPROBANTE = f.COMPROBANTE
			WHERE [FACTURAS].COMPROBANTE = f.COMPROBANTE
		END
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(MAX) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(MAX) = CONCAT(
				'FactDet_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('FactDet_TriggerInsert', CONCAT('FactDet_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'FactDet_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH

END
