USE [SURGICORP_ERP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 04/09/25>
-- Description:	<Description, Updates from [dbo].[FACT_DETALLE]>
-- =============================================
ALTER TRIGGER [dbo].[Fact_TriggerUpdate]
   ON  [dbo].[FACT_DETALLE]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		INSERT INTO [dbo].[FACT_UPDATE_AUDIT]
				(
					[ID_FACT],
					[NUMERO_FACTURA],
					[EMPRESA_ID],
					[ESTADO_OLD], 
					[ESTADO_NEW],
					[FECHA_HORA],
					[USUARIO]
				)
			SELECT i.[id], i.[NUMERO_FACTURA], i.[EMPRESA_ID], 
					CAST(ISNULL(d.[COBRADO], 0) as VARCHAR(MAX)) + ' | ' + CAST(ISNULL(d.[SALDO], 0) as VARCHAR(MAX)) 
					+ ' | ' + ISNULL(d.[CANCELADO], '-') + ' | ' + ISNULL(d.[ESTADO], '-') + ' | ' + ISNULL(d.[NC_ANULACION], '-'),
					CAST(ISNULL(i.[COBRADO], 0) as VARCHAR(MAX)) + ' | ' + CAST(ISNULL(i.[SALDO], 0) as VARCHAR(MAX)) 
					+ ' | ' + ISNULL(i.[CANCELADO], '-') + ' | ' + ISNULL(i.[ESTADO], '-') + ' | ' + ISNULL(i.[NC_ANULACION], '-'),
					GETUTCDATE(), i.[USUARIO]
			FROM inserted AS i
				INNER JOIN deleted as d 
					ON i.id = d.id
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(MAX) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(MAX) = CONCAT(
				'Fact_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('Fact_TriggerUpdate', CONCAT('Fact_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'Fact_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
