USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_DESCRIP_TriggerUpdate]    Script Date: 25/09/2025 19:17:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 09/04/25>
-- Description:	<Description, Updates from [dbo].[GR_DESCRIPCION]>
-- =============================================
ALTER TRIGGER [dbo].[GR_DESCRIP_TriggerUpdate] 
   ON  [dbo].[GR_DESCRIPCION]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN
			INSERT INTO dbo.GR_UPDATE_AUDIT
				(
					ID_CONCAT,
					NUMERO_GUIA,
					EMPRESA_ID,
					NUMERO_ITEM,
					FECHA_HORA,
					ESTADO_OLD,
					ESTADO_NEW,
					USUARIO
				)
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, i.NUMERO_ITEM, GETUTCDATE(), 
				ISNULL(d.PRODUCTO, '-') + ' | ' + ISNULL(d.TIPO_PRODUCTO, '-') + ' | ' + ISNULL(d.LOTE, '-') + ' | ' + ISNULL(d.SECTOR, '-') 
				+ ' | ' + ISNULL(d.UBICACION_SECTOR, '-') + ' | ' + ISNULL(d.KITS_ITEM, '-'),
				ISNULL(i.PRODUCTO, '-') + ' | ' + ISNULL(i.TIPO_PRODUCTO, '-') + ' | ' + ISNULL(i.LOTE, '-') + ' | ' + ISNULL(i.SECTOR, '-') 
				+ ' | ' + ISNULL(i.UBICACION_SECTOR, '-') + ' | ' + ISNULL(i.KITS_ITEM, '-'),
				i.USUARIO
			FROM inserted AS i
				JOIN deleted AS d ON i.id = d.id
			WHERE i.USUARIO <> 'Creado por Servidor'
		END
	END TRY
	BEGIN CATCH
		-- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_DESCRIP_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_DESCRIP_TriggerUpdate', CONCAT('GR_DESCRIP_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'GR_DESCRIP_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
