USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_erp_TriggerUpdate]    Script Date: 15/08/2025 12:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 27/06/25>
-- Description:	<Description, Updates from [dbo].[USR_FCRMVH]>
-- =============================================
ALTER TRIGGER [dbo].[GR_erp_TriggerUpdate] 
   ON [dbo].[USR_FCRMVH]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- Campos que OFISIS actualiza:
	--USR_FCRMVH_VNDDOR 
	--USR_FCRMVH_NROMED
	--USR_FCRMVH_TIPVEN  
	--USR_FCRMVH_COMOTI
	--USR_FCRMVH_TIPMOD
	--USR_FCRMVH_TRAMOD
	--USR_FCRMVH_COCOND
	--FCRMVH_TRACOD
	--USR_FCRMVH_CFORM
	--USR_FCRMVH_VISVEN_G
	--USR_FCRMVH_VISPRO_G
	--USR_FCRMVH_PACDNI
	BEGIN TRY
		BEGIN
			UPDATE [dbo].[GUIAS_REMISION]
				SET CODIGO_REPRESENTANTE = i.FCRMVH_VNDDOR, 
					REPRESENTANTE = i.VTTVND_DESCRP,
					OC_CLIENTE = i.USR_FCRMVH_OCCLIE, 
					NRO_PROCESO = i.USR_FCRMVH_NROPR, 
					PESO_TOTAL = i.USR_FCRMVH_PESKGM,  
					OBSERVACION = j.FCRMVH_TEXTOS, 
					PACIENTE = i.USR_FCRMVH_PACNOM, 
					FECHA_CIRUGIA = i.USR_FCRMVH_FCHCIR,
					CODIGO_REFERENCIA = i.USR_FCRMVH_CODREF, 
					NUMERO_REFERENCIA = i.USR_FCRMVH_NROREF, 
					EMPRESA_REFERENCIA = i.USR_FCRMVH_EMPREF,
					USUARIO = 'Modificado por Servidor - ' + CAST(DATEADD(HOUR, -5, GETUTCDATE()) As VARCHAR(20))
			FROM inserted AS i
				JOIN [USR_FCRMVH] AS j on j.FCRMVH_NROGUI = i.FCRMVH_NROGUI and j.FCRMVH_CODEMP = i.FCRMVH_CODEMP
			WHERE NUMERO_GUIA = i.FCRMVH_NROGUI and EMPRESA_ID = i.FCRMVH_CODEMP
		END
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		--DECLARE @XState INT = XACT_STATE();
		--IF @XState = -1 OR @XState = 1 
		--	ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_erp_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_erp_TriggerUpdate', CONCAT('GR_erp_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'GR_erp_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
