USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_erp_TriggerInsert]    Script Date: 13/03/2026 10:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 02/02/25>
-- Description:	<Description, Inserts from [USR_FCRMVH]>
-- =============================================
ALTER TRIGGER [dbo].[GR_erp_TriggerInsert] 
   ON [dbo].[USR_FCRMVH]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--SET XACT_ABORT ON;
	DECLARE @GR_count INT = (SELECT COUNT(*) FROM inserted)
	BEGIN TRY
		BEGIN
			INSERT INTO dbo.GR_BUSQUEDA
				(
					NUMERO_GUIA,
					ID_APP,
					FECHA_GUIA,
					OC_CLIENTE,
					NRO_PROCESO,
					FECHA_CIRUGIA,
					ZONA,
					EMPRESA_ID
				)
			SELECT i.FCRMVH_NROGUI, i.USR_FCRMVH_NROAPP, i.FCRMVH_FECALT, i.USR_FCRMVH_OCCLIE, i.USR_FCRMVH_NROPR, 
				i.USR_FCRMVH_FCHCIR, i.GRTZON_DESCRP, i.FCRMVH_CODEMP
			FROM inserted AS i
			ORDER BY i.FCRMVH_FECALT
		END
		BEGIN
			INSERT INTO [dbo].[GR_REGULARIZACION]
				(
					[NUMERO_GUIA],
					[EMPRESA_ID],
					[ATENCION],
					[REPRESENTANTE],
					[TIPO_VENTA],
					[NOMBRE_CLIENTE],
					[DIRECCION_ENTREGA],
					[FECHA_GUIA],
					[ESTADO],
					[ID_APP],
					[OBSERVACION],
					[OC_CLIENTE],
					[NRO_PROCESO],
					[DOCTOR],
					[PACIENTE],
					[FECHA_CIRUGIA],
					[UBICACION_SECTOR],
					[SALIDA],
					[USUARIO]
				)
			SELECT i.FCRMVH_NROGUI, i.FCRMVH_CODEMP, i.FCRMVH_USERID, i.VTTVND_DESCRP, i.USR_FCTTVH_DESCRIP, i.VTMCLH_NOMBRE, i.FCRMVH_DIRENT, i.FCRMVH_FECALT,
				i.FCRMVH_ESTADO, i.USR_FCRMVH_NROAPP, j.FCRMVH_TEXTOS, i.USR_FCRMVH_OCCLIE, i.USR_FCRMVH_NROPR, i.FCRMVH_NOMMED, i.USR_FCRMVH_PACNOM, 
				TRY_PARSE(CONCAT(CONVERT(date, i.USR_FCRMVH_FCHCIR), 
						' ', 
						STUFF(COALESCE(ISNULL(i.USR_FCRMVH_HORCIR, '0000'), '1200'), 3, 0, ':'), 
						' ', 
						IIF(ISNULL(i.USR_FCRMVH_TIPHOR, 'A') = 'P', 'PM', 'AM')
					) as datetime using 'en-us'
				), i.USR_UBFSEC_DESCRP, IIF(i.FCRMVH_DEPOSI = 'CUS001', 1, 0), 'Creado por Servidor - ' + CAST(DATEADD(HOUR, -5, GETUTCDATE()) As VARCHAR(20))
			FROM inserted AS i
				JOIN [USR_FCRMVH] AS j on j.FCRMVH_NROGUI = i.FCRMVH_NROGUI and j.FCRMVH_CODEMP = i.FCRMVH_CODEMP
			WHERE i.FCRMVH_DEPSAL = 'SG-DEV' or 
				i.FCRMVH_DEPSAL = 'RRM-DEV' or 
				i.USR_UBFSEC_DESCRP = 'UBICACION TRANSITORIA (ANEXO)' or
				i.USR_UBFSEC_DESCRP = 'UBICACION TRANSITORIA (PRINCIPAL)'
			ORDER BY i.FCRMVH_FECALT
		END
		BEGIN
			INSERT INTO dbo.GUIAS_REMISION
				(
					NUMERO_GUIA,
					ATENCION,
					REPRESENTANTE,
					CODIGO_REPRESENTANTE,
					MOTIVO_TRASLADO,
					NOMBRE_CLIENTE,
					DIRECCION_ENTREGA,
					FECHA_GUIA,
					ESTADO,
					ID_APP,
					OBSERVACION,
					EMPRESA_ID,
					OC_CLIENTE,
					NRO_PROCESO,
					TIPO_PEDIDO,
					DOCTOR,
					PACIENTE,
					FECHA_CIRUGIA,
					RUC_CLIENTE,
					DEPOSITO,
					CODIGO_TRANSFERENCIA,
					TRANSFERENCIA,
					CODIGO_REFERENCIA,
					NUMERO_REFERENCIA,
					EMPRESA_REFERENCIA,
					CONDUCTOR,
					DNI_CONDUCTOR,
					NUMERO_LICENCIA,
					NUMERO_PLACA,
					NUMERO_TARJETA_CIRCULACION,
					NUMERO_BULTOS,
					PESO_TOTAL,
					CODIGO_JURISDICCION,
					JURISDICCION,
					SALIDA,
					INYECTADOS,
					SEDE,
					USUARIO
				)
			SELECT i.FCRMVH_NROGUI, i.FCRMVH_USERID, i.VTTVND_DESCRP, i.FCRMVH_VNDDOR, i.USR_FCTTMT_DESCRIP, i.VTMCLH_NOMBRE,
				i.FCRMVH_DIRENT, i.FCRMVH_FECALT, i.FCRMVH_ESTADO, i.USR_FCRMVH_NROAPP, j.FCRMVH_TEXTOS, i.FCRMVH_CODEMP, i.USR_FCRMVH_OCCLIE, 
				i.USR_FCRMVH_NROPR, IIF(i.USR_PRIOVT_DESPRI is null, 'Sin Tipo', i.USR_PRIOVT_DESPRI), i.FCRMVH_NOMMED, i.USR_FCRMVH_PACNOM, 
				TRY_PARSE(CONCAT(CONVERT(date, i.USR_FCRMVH_FCHCIR), 
						' ', 
						STUFF(COALESCE(ISNULL(i.USR_FCRMVH_HORCIR, '0000'), '1200'), 3, 0, ':'), 
						' ', 
						IIF(ISNULL(i.USR_FCRMVH_TIPHOR, 'A') = 'P', 'PM', 'AM')
					) as datetime using 'en-us'
				), i.FCRMVH_NROCTA, i.FCRMVH_DEPOSI, ISNULL(i.FCRMVH_DEPSAL, i.FCRMVH_DEPOSI), i.FCRMVH_DESDPT, i.USR_FCRMVH_CODREF, i.USR_FCRMVH_NROREF, 
				i.USR_FCRMVH_EMPREF, i.FCRMVH_NOMCOD, i.FCRMVH_DOCCOD, i.FCRMVH_LICCOD, i.FCRMVH_PLAVEH, i.FCRMVH_TARUNI, i.USR_FCRMVH_NROBUL, i.USR_FCRMVH_PESKGM, 
				i.FCRMVH_JURISD, i.FCRMVH_DESJUR, IIF(i.FCRMVH_DEPOSI = 'CUS001', 1, 0), IIF(i.FCRMVH_REQINY = 'S', 1, 0), ISNULL(i.FCRMVH_DESSED, ''), 
				'Creado por Servidor - ' + CAST(DATEADD(HOUR, -5, GETUTCDATE()) As VARCHAR(20))
			FROM inserted AS i
				JOIN [USR_FCRMVH] AS j on j.FCRMVH_NROGUI = i.FCRMVH_NROGUI and j.FCRMVH_CODEMP = i.FCRMVH_CODEMP
			ORDER BY i.FCRMVH_FECALT
		END
		BEGIN
			BEGIN
				INSERT INTO dbo.HOJA_PICKING
					(
						NUMERO_GUIA,
						STATUS_PICKING,
						ATENCION,
						FIRMA_ATENCION,
						FECHA_ATENCION,
						FIRMA_ALMACEN,
						FIRMA_DISTRIBUCION,
						TIPO_PEDIDO,
						TIPO_VENTA,
						LIMA_PROVINCIA,
						EMPRESA_ID,
						UBICACION_SECTOR,
						ID_APP,
						SALIDA,
						CONTINGENCIA
					)
				SELECT i.FCRMVH_NROGUI, IIF(i.FCRMVH_ESTADO = 'CON', 'Picking Retirado', 'Picking Pendiente'), 
					i.FCRMVH_USERID, 'Confirmado', i.FCRMVH_FECALT, 'Por Confirmar', 'Por Confirmar', 
					IIF(i.USR_PRIOVT_DESPRI is null, 'Sin Tipo', i.USR_PRIOVT_DESPRI), i.USR_FCTTVH_DESCRIP, IIF(i.FCRMVH_CODZON = '15' 
					or i.FCRMVH_CODZON = '07' or i.FCRMVH_CODZON = '27', 1, 2), i.FCRMVH_CODEMP, ISNULL(i.USR_UBFSEC_DESCRP, 'Sin Ubicación'), 
					i.USR_FCRMVH_NROAPP, IIF(i.FCRMVH_DEPOSI = 'CUS001', 1, 0), IIF(i.FCRMVH_ESTADO = 'CON', 1, 0)
				FROM inserted AS i
				WHERE (i.FCRMVH_DEPSAL = 'SG-APR' or 
						i.FCRMVH_DEPSAL = 'RRM-APR' or 
						i.FCRMVH_DEPSAL = 'SG-CIN' or 
						i.FCRMVH_DEPSAL = 'RRM-CIN' or 
						(i.FCRMVH_DEPOSI = 'CUS001' and 
							(i.FCRMVH_USERID <> 'LGIRAO' and
								i.FCRMVH_USERID <> 'JCASTRO' and
								i.FCRMVH_USERID <> 'CMAMANI' and
								i.FCRMVH_USERID <> 'MMATOS' and
								i.FCRMVH_USERID <> 'NMALASQUEZ' and
								i.FCRMVH_USERID <> 'CREYES' and
								i.FCRMVH_USERID <> 'CDEZA'
							)
						)
					) and 
					(i.USR_UBFSEC_DESCRP <> 'UBICACION TRANSITORIA (ANEXO)' and
					i.USR_UBFSEC_DESCRP <> 'UBICACION TRANSITORIA (PRINCIPAL)')
			END
			BEGIN
				UPDATE dbo.HOJA_PICKING
					SET GR_ID = i.id,
						USUARIO = 'Creado por Servidor - ' + CAST(DATEADD(HOUR, -5, GETUTCDATE()) As VARCHAR(20))
					FROM (SELECT TOP (@GR_count) * FROM GUIAS_REMISION ORDER BY id desc) AS i
					WHERE HOJA_PICKING.NUMERO_GUIA = i.NUMERO_GUIA AND
						HOJA_PICKING.EMPRESA_ID = i.EMPRESA_ID
			END
		END
	END TRY
	BEGIN CATCH
		-- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_erp_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_erp_TriggerInsert', CONCAT('GR_erp_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'GR_erp_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
