USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_STRMVI_TriggerInsert]    Script Date: 10/07/2025 09:32:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 08/04/25>
-- Description:	<Description, Inserts from [dbo].[USR_STMLOH]>
-- ============================================================
ALTER TRIGGER [dbo].[GR_STRMVI_TriggerInsert] 
   ON  [dbo].[USR_STRMVI]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN
			INSERT INTO dbo.GR_DESCRIPCION
				(
					ID_CONCAT,
					NUMERO_ITEM,
					NUMERO_SECUENCIA,
					PRODUCTO,
					DESCRIPCION_PRODUCTO,
					DESCRIPCION_PRODUCTO_HP,
					PROVEEDOR,
					SECTOR,
					NUMERO_GUIA,
					CANTIDAD,
					LOTE,
					VENCIMIENTO_LOTE,
					EMPRESA_ID,
					UBICACION_SECTOR,
					KITS_GUIA,
					KITS_ITEM,
					TIPO_PRODUCTO
				)
			SELECT i.STRMVI_CODEMP  + ' | ' + i.STRMVI_MODFOR + ' | ' + i.STRMVI_CODFOR +  ' | ' + i.STRMVI_SECTOR + ' | ' + i.STRMVI_NSERIE + 
				' | ' + i.STRMVI_SUCURS + ' | ' + CAST(i.STRMVI_NROFOR AS varchar(20)) + ' | ' + i.STRMVI_ARTORI + ' | ' + CAST(i.STRMVI_NROSEC AS varchar(20)),
				i.STRMVI_NROITM, i.STRMVI_NROSEC, i.STRMVI_ARTORI, i.STMPDH_DESCRP, i.STMPDH_DESART, i.STRMVI_NOMPPR, i.STRMVI_SECTOR, 
				i.STRMVI_SUCURS + '-' + CAST(i.STRMVI_NROFOR AS varchar(20)), IIF(i.STRMVI_CANTID < 0, i.STRMVI_CANTID * (-1), i.STRMVI_CANTID), 
				i.STRMVI_NSERIE, i.USR_STMLOH_FCHVEN, i.STRMVI_CODEMP, ISNULL(i.USR_UBFSEC_DESCRP, 'Sin Ubicación'), i.KITS_GUIA, i.KITS_ITEM, i.STRMVI_TIPPRO
			FROM inserted AS i
		END
	END TRY
	BEGIN CATCH
		-- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_STRMVI_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_STRMVI_TriggerInsert', CONCAT('GR_STRMVI_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END