USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_TriggerUpdate]    Script Date: 15/08/2025 12:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 08/07/25>
-- Description:	<Description, Updates from [dbo].[GUIAS_REMISION]>
-- =============================================
ALTER TRIGGER [dbo].[GR_TriggerUpdate]
   ON  [dbo].[GUIAS_REMISION]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		BEGIN
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] (
				[ID_CONCAT],
				[NUMERO_GUIA],
				[EMPRESA_ID],
				[NUMERO_ITEM],
				[FECHA_HORA],
				[ESTADO_OLD],
				[ESTADO_NEW]
			)
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, -1, GETUTCDATE(), 
				ISNULL(d.CODIGO_REPRESENTANTE, '-') + ' | ' + ISNULL(d.OC_CLIENTE, '') + ' | ' + ISNULL(d.NRO_PROCESO, '') 
				+ ' | ' + CAST(ISNULL(d.PESO_TOTAL, '') AS varchar(20)) + ' | ' + ISNULL(d.OBSERVACION, '') + ' | ' + ISNULL(d.PACIENTE, '') 
				+ ' | ' + CAST(ISNULL(d.FECHA_CIRUGIA, '') AS varchar(20)), 
				ISNULL(i.CODIGO_REPRESENTANTE, '-') + ' | ' + ISNULL(i.OC_CLIENTE, '') + ' | ' + ISNULL(i.NRO_PROCESO, '') 
				+ ' | ' + CAST(ISNULL(i.PESO_TOTAL, '') AS varchar(20)) + ' | ' + ISNULL(i.OBSERVACION, '') + ' | ' + ISNULL(i.PACIENTE, '') 
				+ ' | ' + CAST(ISNULL(i.FECHA_CIRUGIA, '') AS varchar(20))
			FROM inserted AS i
				JOIN deleted AS d ON i.id = d.id
		END
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		--DECLARE @XState INT = XACT_STATE();
		--IF @XState = -1 OR @XState = 1 
		--	ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_TriggerUpdate', CONCAT('GR_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'GR_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
