USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[GR_TriggerInsert]    Script Date: 10/07/2025 09:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 09/04/25>
-- Description:	<Description, Inserts from [dbo].[GUIAS_REMISION]>
-- ============================================================
ALTER TRIGGER [dbo].[GR_TriggerInsert] 
   ON  [dbo].[GUIAS_REMISION]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN
			INSERT INTO dbo.GR_UPDATE_AUDIT
				(
					ID_CONCAT,
					NUMERO_GUIA,
					EMPRESA_ID,
					NUMERO_ITEM,
					FECHA_HORA,
					ESTADO_OLD,
					ESTADO_NEW,
					USUARIO
				)
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, 0, GETUTCDATE(), 'INSERTED', 
				ISNULL(i.OC_CLIENTE, '-') + ' | ' + ISNULL(i.NRO_PROCESO, '-') + ' | ' + ISNULL(i.PACIENTE, '-') + ' | ' + ISNULL(RIGHT(i.OBSERVACION, 40), '-'),
				i.USUARIO
			FROM inserted AS i
		END
		BEGIN
			INSERT INTO GUIA_DIGEMID (NUMERO_GUIA, ATENCION, REPRESENTANTE, CODIGO_REPRESENTANTE, MOTIVO_TRASLADO, NOMBRE_CLIENTE, DIRECCION_ENTREGA, 
				FECHA_GUIA, ESTADO, ID_APP, OBSERVACION, OC_CLIENTE, NRO_PROCESO, TIPO_PEDIDO, DOCTOR, PACIENTE, FECHA_CIRUGIA, RUC_CLIENTE, DEPOSITO,
				CODIGO_TRANSFERENCIA, TRANSFERENCIA, CONDUCTOR, DNI_CONDUCTOR, NUMERO_LICENCIA, NUMERO_PLACA, NUMERO_TARJETA_CIRCULACION, NUMERO_BULTOS, 
				PESO_TOTAL, CODIGO_DOCUMENTO, SERIE, CORRELATIVO, CODIGO_JURISDICCION, JURISDICCION, SALIDA, INYECTADOS, SEDE, USUARIO, EMPRESA_ID)
			SELECT i.NUMERO_GUIA, i.ATENCION, i.REPRESENTANTE, i.CODIGO_REPRESENTANTE, i.MOTIVO_TRASLADO, i.NOMBRE_CLIENTE, i.DIRECCION_ENTREGA,
				i.FECHA_GUIA, i.ESTADO, i.ID_APP, i.OBSERVACION, i.OC_CLIENTE, i.NRO_PROCESO, i.TIPO_PEDIDO, i.DOCTOR, i.PACIENTE, i.FECHA_CIRUGIA, 
				i.RUC_CLIENTE, i.DEPOSITO, i.CODIGO_TRANSFERENCIA, i.TRANSFERENCIA, i.CONDUCTOR, i.DNI_CONDUCTOR, i.NUMERO_LICENCIA, i.NUMERO_PLACA, 
				i.NUMERO_TARJETA_CIRCULACION, i.NUMERO_BULTOS, i.PESO_TOTAL, i.CODIGO_DOCUMENTO, i.SERIE, i.CORRELATIVO, i.CODIGO_JURISDICCION, 
				i.JURISDICCION, i.SALIDA, i.INYECTADOS, i.SEDE, i.USUARIO, i.EMPRESA_ID
			FROM inserted as i 
		END
	END TRY
	BEGIN CATCH
		-- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'GR_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('GR_TriggerInsert', CONCAT('GR_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'GR_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
