USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[HP_ERP_TriggerUpdate]    Script Date: 20/08/2025 09:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 08/04/25>
-- Description:	<Description, Updates from [dbo].[HOJA_PICKING]>
-- ============================================================
ALTER TRIGGER [dbo].[HP_ERP_TriggerUpdate]
   ON  [dbo].[HOJA_PICKING]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		IF EXISTS(SELECT i.USUARIO FROM inserted AS i WHERE USUARIO = 'Creado por Servidor')
		BEGIN
			DECLARE @DialogHandle UNIQUEIDENTIFIER;
			DECLARE @Message XML;
			-- Crear mensaje XML con los IDs necesarios
			SELECT @Message = (
				SELECT i.id AS PickingID
				FROM inserted as i
				WHERE i.USUARIO = 'Creado por Servidor'
				FOR XML PATH('PickingNotifications')
			);
			-- Iniciar diálogo
			BEGIN 
				DIALOG CONVERSATION @DialogHandle
				FROM SERVICE [PickingNotificationService]
				TO SERVICE 'PickingNotificationService'
				ON CONTRACT [PickingContract]
				WITH ENCRYPTION = OFF;
			-- Enviar mensaje
			SEND ON CONVERSATION @DialogHandle
				MESSAGE TYPE [PickingNotification] (@Message);
			--Crear registro en HP_UPDATE_AUDIT
			INSERT INTO [dbo].[HP_UPDATE_AUDIT] ([ID_HP], [NUMERO_GUIA], [EMPRESA_ID], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, 'INSERTED',  CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20)),
				GETUTCDATE(), i.USUARIO
			FROM inserted AS i
			WHERE i.USUARIO = 'Creado por Servidor'
		END
		IF EXISTS(SELECT d.NUMERO_GUIA FROM deleted AS d
				INNER JOIN inserted AS i ON i.id = d.id
			WHERE CAST(ISNULL(d.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(d.STATUS_PICKING, '') + ' | ' + ISNULL(d.ATENCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(d.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(d.ALMACEN, '') 
				+ ' | ' + ISNULL(d.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(d.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(d.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(d.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(d.TIPO_VENTA, '')
				+ ' | ' + ISNULL(d.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(d.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(d.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(d.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(d.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(d.SALIDA, '') AS varchar(20)) 
				<> CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20))
				and i.USUARIO <> 'Creado por Servidor')
				
		BEGIN
			INSERT INTO [dbo].[HP_UPDATE_AUDIT] ([ID_HP], [NUMERO_GUIA], [EMPRESA_ID], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO], [PICKING_TIME])
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, CAST(ISNULL(d.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(d.STATUS_PICKING, '') + ' | ' + ISNULL(d.ATENCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(d.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(d.ALMACEN, '') 
				+ ' | ' + ISNULL(d.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(d.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(d.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(d.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(d.TIPO_VENTA, '')
				+ ' | ' + ISNULL(d.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(d.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(d.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(d.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(d.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(d.SALIDA, '') AS varchar(20)),
				CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20)),
				GETUTCDATE(), i.USUARIO, CAST(ISNULL(DATEDIFF(SECOND, d.FECHA_ALMACEN, i.FECHA_ALMACEN), '0') / 3600 AS VARCHAR) + ':' + 
					RIGHT('0' + CAST((ISNULL(DATEDIFF(SECOND, d.FECHA_ALMACEN, i.FECHA_ALMACEN), '0') % 3600) / 60 AS VARCHAR), 2) + ':' + 
					RIGHT('0' + CAST(ISNULL(DATEDIFF(SECOND, d.FECHA_ALMACEN, i.FECHA_ALMACEN), '0') % 60 AS VARCHAR), 2)
			FROM deleted AS d
				INNER JOIN inserted AS i ON i.id = d.id
			WHERE CAST(ISNULL(d.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(d.STATUS_PICKING, '') + ' | ' + ISNULL(d.ATENCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(d.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(d.ALMACEN, '') 
				+ ' | ' + ISNULL(d.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(d.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(d.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(d.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(d.TIPO_VENTA, '')
				+ ' | ' + ISNULL(d.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(d.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(d.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(d.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(d.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(d.SALIDA, '') AS varchar(20)) 
				<> CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20))
		END
		IF EXISTS(SELECT d.NUMERO_GUIA FROM deleted AS d
				INNER JOIN inserted AS i ON i.id = d.id
			WHERE CAST(ISNULL(d.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(d.STATUS_PICKING, '') + ' | ' + ISNULL(d.ATENCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(d.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(d.ALMACEN, '') 
				+ ' | ' + ISNULL(d.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(d.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(d.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(d.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(d.TIPO_VENTA, '')
				+ ' | ' + ISNULL(d.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(d.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(d.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(d.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(d.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(d.SALIDA, '') AS varchar(20)) 
				= CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20))
				and i.USUARIO <> 'Creado por Servidor')
		BEGIN
			INSERT INTO [dbo].[HP_UPDATE_AUDIT] ([ID_HP], [NUMERO_GUIA], [EMPRESA_ID], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT i.id, i.NUMERO_GUIA, i.EMPRESA_ID, 'HEARTBEAT', 'Session_Active: ' + CAST(ISNULL(i.APP_SESSION_ACTIVE, '') AS varchar(20)) 
			+ ' | ' + CAST(ISNULL(i.HEARTBEAT_TIMESTAMP, '') AS varchar(20)) + ' | ' + CAST(ISNULL(i.LAST_HEARTBEAT_RECEIVED, '') AS varchar(20))
			+ ' | Session_Ended: ' + CAST(ISNULL(i.SESSION_ENDED, '') AS varchar(20)), GETUTCDATE(), i.USUARIO
			FROM deleted AS d
				INNER JOIN inserted AS i ON i.id = d.id
			WHERE CAST(ISNULL(d.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(d.STATUS_PICKING, '') + ' | ' + ISNULL(d.ATENCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(d.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(d.ALMACEN, '') 
				+ ' | ' + ISNULL(d.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(d.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(d.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(d.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(d.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(d.TIPO_VENTA, '')
				+ ' | ' + ISNULL(d.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(d.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(d.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(d.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(d.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(d.SALIDA, '') AS varchar(20)) 
				= CAST(ISNULL(i.GR_ID, '') AS varchar(20)) + ' | ' + ISNULL(i.STATUS_PICKING, '') + ' | ' + ISNULL(i.ATENCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_ATENCION, '') + ' | ' + CAST(ISNULL(i.FECHA_ATENCION, '') AS varchar(20)) + ' | ' + ISNULL(i.ALMACEN, '') 
				+ ' | ' + ISNULL(i.FIRMA_ALMACEN, '') + ' | ' + CAST(ISNULL(i.FECHA_ALMACEN, '') AS varchar(20)) + ' | ' + ISNULL(i.DISTRIBUCION, '') 
				+ ' | ' + ISNULL(i.FIRMA_DISTRIBUCION, '') + ' | ' + CAST(ISNULL(i.FECHA_DISTRIBUCION, '') AS varchar(20)) + ' | ' + ISNULL(i.TIPO_VENTA, '')
				+ ' | ' + ISNULL(i.TIPO_PEDIDO, '') + ' | ' + CAST(ISNULL(i.LIMA_PROVINCIA, '') AS varchar(20))  + ' | ' + CAST(ISNULL(i.ID_APP, '') AS varchar(20))
				+ ' | ' + ISNULL(i.USUARIO, '') + ' | Contingencia: ' + CAST(ISNULL(i.CONTINGENCIA, '') AS varchar(20)) + ' | Salida: ' + CAST(ISNULL(i.SALIDA, '') AS varchar(20))
		END
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		--DECLARE @XState INT = XACT_STATE();
		--IF @XState = -1 OR @XState = 1 
		--	ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'HP_ERP_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('HP_ERP_TriggerUpdate', CONCAT('HP_ERP_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'HP_ERP_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END