USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[QR_Productos_TriggerUpdate]    Script Date: 10/07/2025 09:30:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 08/04/25>
-- Description:	<Description, Updates from [dbo].[QR_PRODUCTOS]>
-- ============================================================
ALTER TRIGGER [dbo].[QR_Productos_TriggerUpdate] 
   ON [dbo].[QR_PRODUCTOS] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN
			INSERT INTO [dbo].[QR_UPDATE_AUDIT]
				(
					ID_QR,
					LOTE,
					TIPO_PRODUCTO,
					PRODUCTO,
					EMPRESA_ID,
					CODIGO_QR_OLD,
					CODIGO_QR_NEW,
					FECHA_HORA
				)
			SELECT i.id, i.LOTE, i.TIPO_PRODUCTO, i.PRODUCTO, i.EMPRESA_ID, d.CODIGO_QR, i.CODIGO_QR, GETUTCDATE()
			FROM inserted AS i
				INNER JOIN deleted AS d ON i.id = d.id	
		END
	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		--DECLARE @XState INT = XACT_STATE();
		--IF @XState = -1 OR @XState = 1 
		--	ROLLBACK TRANSACTION;
		-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'QR_Productos_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('QR_Productos_TriggerUpdate', CONCAT('QR_Productos_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'QR_Productos_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
