USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[RB_CONSIG_TriggerUpdate]    Script Date: 1/09/2026 18:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 01/09/26>
-- Description:	<Description, Updates from [dbo].[RB_CONSIGNATARIOS]>
-- ==================================================================
ALTER TRIGGER [dbo].[RB_CONSIG_TriggerUpdate]
   ON  [dbo].[RB_CONSIGNATARIOS] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY

		INSERT INTO [dbo].[RB_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'RB_CONSIG_TriggerUpdate', 'RB_CONSIGNATARIOS', 'UPDATE', d.NOMBRE_CONSIGNATARIO + ' | ' + d.TIPO_DOCUMENTO + ' | ' + d.DOCUMENTO 
			+ ' | ' + ISNULL(d.CELULAR, '-') + ' | ' + d.DESTINO + ' | ' + CAST(d.NUMERO_ORDEN As VARCHAR(20)) + ' | ' + d.CODIGO_REPRESENTANTE 
			+ ' | ' + ISNULL(d.DIAS_SEMANA, '-'), i.NOMBRE_CONSIGNATARIO + ' | ' + i.TIPO_DOCUMENTO + ' | ' + i.DOCUMENTO + ' | ' + ISNULL(i.CELULAR, '-') 
			+ ' | ' + i.DESTINO + ' | ' + CAST(i.NUMERO_ORDEN As VARCHAR(20)) + ' | ' + i.CODIGO_REPRESENTANTE + ' | ' + ISNULL(i.DIAS_SEMANA, '-'), 
			GETUTCDATE(), ISNULL(i.USUARIO, 'Modificado desde SQL')
			FROM inserted As i 
				INNER JOIN deleted As d 
					ON i.id = d.id

	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'RB_CONSIG_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[RB_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('RB_CONSIG_TriggerUpdate', 'RB_CONSIGNATARIOS', 'ERROR', CONCAT('RB_CONSIG_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'RB_CONSIG_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH

END
