USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[RB_REPR_TriggerInsert]    Script Date: 1/09/2026 19:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==================================================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 01/09/26>
-- Description:	<Description, Deletes from [dbo].[RB_REPRESENTANTES]>
-- ==================================================================
CREATE TRIGGER [dbo].[RB_REPR_TriggerDelete]
   ON  [dbo].[RB_REPRESENTANTES]
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Usuario VARCHAR(60) = CAST(SESSION_CONTEXT(N'UsuarioAuditoria') AS VARCHAR(60));
    BEGIN TRY

		INSERT INTO [dbo].[RB_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'RB_REPR_TriggerDelete', 'RB_REPRESENTANTES', 'DELETED', d.[CODIGO_REPRESENTANTE] + ' | ' + ISNULL(d.REPRESENTANTE_NOMBRE, '-')
			+ ' | ' + d.TIPO_DOCUMENTO + ' | ' + d.DOCUMENTO + ' | ' + ISNULL(d.CELULAR, '-') + ' | ' + IIF(d.OCULTAR=1, 'Ocultar: True', 'Ocultar: False'), 
			'', GETUTCDATE(), ISNULL(@Usuario, 'Borrado por Servidor')
			FROM deleted As d

	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'RB_REPR_TriggerDelete -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[RB_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('RB_REPR_TriggerDelete', 'RB_REPRESENTANTES', 'ERROR', CONCAT('RB_REPR_TriggerDelete -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'RB_REPR_TriggerDelete: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH

END
