USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[RC_Ent_TriggerInsert]    Script Date: 9/04/2026 13:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 09/03/26>
-- Description:	<Description, Inserts from [dbo].[RC_ENTIDADES]>
-- =============================================
ALTER TRIGGER [dbo].[RC_Ent_TriggerInsert]
   ON  [dbo].[RC_ENTIDADES]
   INSTEAD OF INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
		INSERT INTO [RC_ENTIDADES] (NOMBRE, PROVINCIA_ID)
			SELECT MAX(CASE WHEN s.ordinal = 1 THEN s.value END) AS nombre,
					(SELECT p.id FROM RC_PROVINCIA As p WHERE p.NOMBRE = MAX(CASE WHEN s.ordinal = 2 THEN s.value END)) AS localidad	
			FROM inserted As i
				CROSS APPLY STRING_SPLIT(i.NOMBRE, '|', 1) As s
			GROUP BY i.id
			
			
    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'RC_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('RC_TriggerInsert', CONCAT('RC_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'RC_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH

END
