USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SG_erp_TriggerInsert]    Script Date: 13/08/2025 15:46:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 13/08/25>
-- Description:	<Description, Inserts from [USR_SALGUI]>
-- =============================================
ALTER TRIGGER [dbo].[SG_erp_TriggerInsert] 
   ON  [dbo].[USR_SALGUI]
   AFTER INSERT
AS 
BEGIN TRY
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @guia NVARCHAR(50) = (SELECT TOP 1 i.SALGUI_NROGUI FROM inserted as i);
	DECLARE @empresa INT = CAST((SELECT TOP 1 i.SALGUI_CODEMP FROM inserted as i) as INT);
    
	IF EXISTS(SELECT hp.NUMERO_GUIA FROM HOJA_PICKING as hp WHERE hp.NUMERO_GUIA = @guia and hp.EMPRESA_ID = @empresa)
	BEGIN
		UPDATE HOJA_PICKING
			SET SALIDA = 1,
			USUARIO = 'Modificado por Servidor'
		WHERE NUMERO_GUIA = @guia and
			EMPRESA_ID = @empresa
	END
END TRY
BEGIN CATCH
	-- Rollback si hay transaccion activa
	DECLARE @XState INT = XACT_STATE();
	IF @XState = -1 OR @XState = 1 
		ROLLBACK TRANSACTION;
	-- Intentar ingresar error en la tabla GR_UPDATE_AUDIT
	BEGIN TRY
		DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @SeveridadError INT = ERROR_SEVERITY();
		DECLARE @EstadoError INT = ERROR_STATE();
		DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
			'SG_erp_TriggerInsert -> Error: ', @EstadoError,
			' | Severidad: ', @SeveridadError,
			' | Mensaje: ', @MensajeError
		);
		INSERT INTO [dbo].[GR_UPDATE_AUDIT] ([ID_CONCAT], [NUMERO_GUIA], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
			VALUES ('SG_erp_TriggerInsert', CONCAT('SG_erp_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 'ERROR', @MensajeError, GETUTCDATE());
		RAISERROR(@LogMessage, 0, 1) WITH LOG;
	END TRY
	BEGIN CATCH
		-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
		DECLARE @MensajeError2 NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
		DECLARE @EstadoError2 INT = ERROR_STATE();
		RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
	END CATCH
END CATCH
