USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_DEPOSITO_erp_TriggerInsert]    Script Date: 29/04/2026 12:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 29/04/26>
-- Description:	<Description, Inserts from [dbo].[USR_STTDEH]>
-- =============================================
ALTER TRIGGER [dbo].[SI_DEPOSITO_erp_TriggerInsert]
   ON  [dbo].[USR_STTDEH]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY

		INSERT INTO [dbo].[SI_DEPOSITO] (CODIGO_DEPOSITO, DESCRIPCION, TIPO_DEPOSITO)
			SELECT i.STTDEH_DEPOSI, i.STTDEH_DESCRP, i.STTDEH_TIPDEP FROM inserted As i;

		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'SI_DEPOSITO_erp_TriggerInsert', 'DEPOSITO', 'INSERTED', '', i.STTDEH_TIPDEP + ' | ' + i.STTDEH_DEPOSI + ' | ' + i.STTDEH_DESCRP,
			GETUTCDATE(), 'Creado por Servidor' 
			FROM inserted As i;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_DEPOSITO_erp_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('SI_DEPOSITO_erp_TriggerInsert', 'DEPOSITO', 'ERROR', CONCAT('SI_DEPOSITO_erp_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_DEPOSITO_erp_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END