USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_FAM_erp_TriggerUpdate]    Script Date: 17/04/2026 15:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 17/04/26>
-- Description:	<Description, Updates from [dbo].[USR_FAMALT]>
-- =============================================
ALTER TRIGGER [dbo].[SI_FAM_erp_TriggerUpdate]
   ON  [dbo].[USR_FAMALT]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY

		UPDATE [dbo].[SI_FAMILIA]
			SET NOMBRE_FAMILIA = i.FAMALT_DESALT
		FROM inserted As i
			WHERE CODIGO = i.FAMALT_CODALT;

		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'SI_FAM_erp_TriggerUpdate', 'FAMILIA', 'UPDATED', d.FAMALT_CODALT + ' | ' + d.FAMALT_DESALT, 
			i.FAMALT_CODALT + ' | ' + i.FAMALT_DESALT, GETUTCDATE(), 'Modificado por Servidor' 
			FROM inserted As i
				JOIN deleted As d ON d.FAMALT_CODALT = i.FAMALT_CODALT;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_FAM_erp_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('SI_FAM_erp_TriggerUpdate', 'FAMILIA', 'ERROR', CONCAT('SI_FAM_erp_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_FAM_erp_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END