USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_GRUPO_erp_TriggerDelete]    Script Date: 16/04/2026 15:31:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 16/04/26>
-- Description:	<Description, Deletes from [dbo].[USR_GRUNEG]>
-- =============================================
ALTER TRIGGER [dbo].[SI_GRUPO_erp_TriggerDelete]
   ON  [dbo].[USR_GRUNEG]
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY

		DELETE g FROM [dbo].[SI_GRUPO] As g
			INNER JOIN deleted As d 
				ON g.TIPO = d.GRUNEG_TIPPRO and 
					g.CODIGO_LINEA = d.GRUNEG_CODLIN and
					g.CODIGO_GRUPO = d.GRUNEG_CODGRU;

		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'SI_GRUPO_erp_TriggerDelete', 'GRUPO', 'DELETED', d.GRUNEG_TIPPRO + ' | ' + d.GRUNEG_CODLIN + ' | ' + d.GRUNEG_CODGRU + ' | ' + d.GRUNEG_DESCRP, '', 
				GETUTCDATE(), 'Eliminado por Servidor' 
			FROM deleted As d;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_GRUPO_erp_TriggerDelete -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('SI_GRUPO_erp_TriggerDelete', 'GRUPO', 'ERROR', CONCAT('SI_GRUPO_erp_TriggerDelete -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_GRUPO_erp_TriggerDelete: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END