USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_PROD_erp_TriggerInsert]    Script Date: 16/04/2026 15:38:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 10/11/25>
-- Description:	<Description, Inserts from [dbo].[USR_STMPDH]>
-- =============================================
ALTER TRIGGER [dbo].[SI_PROD_erp_TriggerInsert]
   ON  [dbo].[USR_STMPDH]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		
		INSERT INTO SI_PRODUCTO (CODIGO_PRODUCTO, TIPO, DESCRIPCION, GRUPO_ID, LINEA_ID, PROVEEDOR_ID, FAMILIA_ID)
			SELECT i.STMPDH_ARTCOD, i.STMPDH_TIPPRO, i.STMPDH_DESCRP, g.id as g_id, l.id as l_id, p.id as p_id, f.id as f_id
			FROM inserted as i
				LEFT JOIN SI_GRUPO as g 
						ON g.CODIGO_GRUPO = i.STMPDH_CODGRU and
							g.CODIGO_LINEA = i.STMPDH_CODLIN and
							g.TIPO = i.STMPDH_TIPPRO
				LEFT JOIN SI_LINEA as l
						ON l.CODIGO = i.STMPDH_CODLIN and
							l.TIPO = i.STMPDH_TIPPRO
				LEFT JOIN SI_FAMILIA as f
						ON f.CODIGO = i.STMPDH_CODFAL
				OUTER APPLY (
					SELECT TOP 1 *
					FROM SI_PROVEEDOR as p
					WHERE p.NOMBRE_PROVEEDOR = i.STMPDH_NOMPRO
					ORDER BY p.ID -- Aquí decides cuál de las dos cuentas priorizar
				) as p
			ORDER BY i.STMPDH_ARTCOD desc;
				
		
		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO], [TABLA])
			SELECT 'SI_PROD_erp_TriggerInsert', 'INSERTED', '', i.STMPDH_ARTCOD + ' | ' + i.STMPDH_TIPPRO + ' | ' + i.STMPDH_DESCRP 
				+ ' | ' + i.STMPDH_GRUPOD + ' | ' + i.STMPDH_LINEAD + ' | ' + ISNULL(i.STMPDH_NOMPRO, '-') + ' | ' + ISNULL(i.STMPDH_FAMALT, '-'), 
			GETUTCDATE(), 'Creado por Servidor', 'PRODUCTOS'
			FROM inserted As i;

	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_PROD_erp_TriggerInsert -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
				VALUES ('SI_PROD_erp_TriggerInsert', 'PRODUCTOS', 'ERROR', CONCAT('SI_PROD_erp_TriggerInsert -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 
					@MensajeError, GETUTCDATE(), 'Servidor');
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_PROD_erp_TriggerInsert: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
