USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_PROD_TriggerUpdate]    Script Date: 5/08/2026 15:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 05/08/26>
-- Description:	<Description, Updates from [dbo].[USR_STMPDH]>
-- =============================================
ALTER TRIGGER [dbo].[SI_PROD_TriggerUpdate]
   ON  [dbo].[SI_PRODUCTO]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY

		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [CAMPO], [NUMERO_ITEM], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO], [TABLA])
			SELECT 'SI_PROD_TriggerUpdate', 'UPDATED', i.id, i.CODIGO_PRODUCTO + ' | ' + d.TIPO + ' | ' + d.DESCRIPCION 
				+ ' | ' + CAST(ISNULL(d.GRUPO_ID, 0) as varchar(20)) + ' | ' + CAST(ISNULL(d.LINEA_ID, 0) as varchar(20)) 
				+ ' | ' + CAST(ISNULL(d.PROVEEDOR_ID, 0) as varchar(20)) + ' | ' + CAST(ISNULL(d.FAMILIA_ID, 0) as varchar(20)), 
				i.CODIGO_PRODUCTO + ' | ' + i.TIPO + ' | ' + i.DESCRIPCION + ' | ' + CAST(ISNULL(i.GRUPO_ID, 0) as varchar(20)) 
				+ ' | ' + CAST(ISNULL(i.LINEA_ID, 0) as varchar(20)) + ' | ' + CAST(ISNULL(i.PROVEEDOR_ID, 0) as varchar(20))
				+ ' | ' + CAST(ISNULL(i.FAMILIA_ID, 0) as varchar(20)), GETUTCDATE(), 'Modificado por Servidor', 'PRODUCTOS'
			FROM inserted As i
				JOIN deleted As d 
					ON d.CODIGO_PRODUCTO = i.CODIGO_PRODUCTO and
						d.TIPO = i.TIPO;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_PROD_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO], [TABLA])
				VALUES ('SI_PROD_TriggerUpdate', 'ERROR', CONCAT('SI_PROD_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 
					@MensajeError, GETUTCDATE(), 'Servidor', 'PRODUCTOS');
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_PROD_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH

END
