USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_PROD_erp_TriggerUpdate]    Script Date: 5/08/2026 14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 17/04/26>
-- Description:	<Description, Updates from [dbo].[USR_STMPDH]>
-- =============================================
ALTER TRIGGER [dbo].[SI_PROD_erp_TriggerUpdate]
   ON  [dbo].[USR_STMPDH]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		-- Hacemos Updates por separado, por alguna razón no se puede actualizar todos los campos al mismo tiempo

		-- Updates a Descripción
		UPDATE [dbo].[SI_PRODUCTO]
			SET DESCRIPCION = i.STMPDH_DESCRP
		FROM inserted As i
		WHERE [SI_PRODUCTO].CODIGO_PRODUCTO = i.STMPDH_ARTCOD and
			[SI_PRODUCTO].TIPO = i.STMPDH_TIPPRO and 
			DESCRIPCION <> i.STMPDH_DESCRP;
		
		-- Updates a Linea
		UPDATE [dbo].[SI_PRODUCTO]
			SET LINEA_ID = l.id
		FROM inserted As i
			JOIN SI_LINEA as l
				ON l.CODIGO = i.STMPDH_CODLIN and
					l.TIPO = i.STMPDH_TIPPRO
		WHERE [SI_PRODUCTO].CODIGO_PRODUCTO = i.STMPDH_ARTCOD and
			[SI_PRODUCTO].TIPO = i.STMPDH_TIPPRO and
			LINEA_ID <> l.id;

		-- Updates a Grupo
		UPDATE [dbo].[SI_PRODUCTO]
			SET GRUPO_ID = g.id
		FROM inserted As i
			JOIN SI_GRUPO as g 
				ON g.CODIGO_GRUPO = i.STMPDH_CODGRU and
					g.CODIGO_LINEA = i.STMPDH_CODLIN and
					g.TIPO = i.STMPDH_TIPPRO
		WHERE [SI_PRODUCTO].CODIGO_PRODUCTO = i.STMPDH_ARTCOD and
			[SI_PRODUCTO].TIPO = i.STMPDH_TIPPRO and 
			GRUPO_ID <> g.id;

		-- Updates a Proveedor
		UPDATE [dbo].[SI_PRODUCTO]
			SET PROVEEDOR_ID = p.id
		FROM inserted As i
			OUTER APPLY (
					SELECT TOP 1 *
					FROM SI_PROVEEDOR as p
					WHERE p.NOMBRE_PROVEEDOR = i.STMPDH_NOMPRO
					ORDER BY p.ID -- Aquí decides cuál de las dos cuentas priorizar
				) as p
		WHERE [SI_PRODUCTO].CODIGO_PRODUCTO = i.STMPDH_ARTCOD and
			[SI_PRODUCTO].TIPO = i.STMPDH_TIPPRO and
			PROVEEDOR_ID <> p.id;

		-- Updates a Familia
		UPDATE [dbo].[SI_PRODUCTO]
			SET FAMILIA_ID = f.id
		FROM inserted As i
			JOIN SI_FAMILIA as f
				ON f.CODIGO = i.STMPDH_CODFAL
		WHERE [SI_PRODUCTO].CODIGO_PRODUCTO = i.STMPDH_ARTCOD and
			[SI_PRODUCTO].TIPO = i.STMPDH_TIPPRO and
			FAMILIA_ID <> f.id;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_PROD_erp_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO], [TABLA])
				VALUES ('SI_PROD_erp_TriggerUpdate', 'ERROR', CONCAT('SI_PROD_erp_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), 
					@MensajeError, GETUTCDATE(), 'Servidor', 'PRODUCTOS');
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_PROD_erp_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END