USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_STOCK_erp_TriggerDelete]    Script Date: 18/08/2026 13:30:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 21/04/26>
-- Description:	<Description, Deletes from [dbo].[USR_STRMVK]>
-- =============================================
ALTER TRIGGER [dbo].[SI_STOCK_erp_TriggerDelete]
   ON  [dbo].[USR_STRMVK] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		DECLARE @handle UNIQUEIDENTIFIER;
        DECLARE @message XML;

        -- Formatear los datos de 'deleted' en un solo mensaje XML
        SELECT @message = (
            SELECT ISNULL(STRMVK_DEPOSI, '') as STRMVK_DEPOSI, ISNULL(STRMVK_DESDEP, '') as STRMVK_DESDEP, ISNULL(STRMVK_SECTOR, '') as STRMVK_SECTOR, 
				ISNULL(STRMVK_DESSEC, '') as STRMVK_DESSEC, ISNULL(STRMVK_TIPALM, '') as STRMVK_TIPALM, ISNULL(STRMVK_DESALM, '') as STRMVK_DESALM, 
				ISNULL(STRMVK_ARTCOD, '') as STRMVK_ARTCOD, ISNULL(STRMVK_CANTID, 0) as STRMVK_CANTID, ISNULL(STRMVK_NSERIE, '') as STRMVK_NSERIE, 
				ISNULL(STRMVK_TIPAMJ, '') as STRMVK_TIPAMJ, ISNULL(STRMVK_CODEMP, '') as STRMVK_CODEMP, ISNULL(STRMVK_SUCURS, '') 
				+ '-' + CAST(ISNULL(STRMVK_NROFOR, 0) as varchar(20)) as STRMVK_NROGUI, 
				ISNULL(STRMVK_TIPPRO, '') as STRMVK_TIPPRO, 'DELETED' as STRMVK_ORIGEN
			FROM deleted
            FOR XML PATH('inserted')
        );

        -- Iniciar una nueva conversación con el servicio
        BEGIN 
			DIALOG CONVERSATION @handle
			FROM SERVICE [StockUpdateService]
			TO SERVICE N'StockUpdateService'
			ON CONTRACT [StockUpdateContract]
			WITH ENCRYPTION = OFF;

		-- Enviar el mensaje XML al servicio
		SEND ON CONVERSATION @handle
			MESSAGE TYPE [StockUpdateMessage] (@message);

	END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_STOCK_erp_TriggerDelete -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('SI_STOCK_erp_TriggerDelete', 'STOCK_INVENTARIO', 'ERROR', CONCAT('SI_STOCK_erp_TriggerDelete -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla GR_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_STOCK_erp_TriggerDelete: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END
