USE [SURGICORP_ERP]
GO
/****** Object:  Trigger [dbo].[SI_SECTOR_erp_TriggerUpdate]    Script Date: 10/06/2026 11:57:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jairo Castillo>
-- Create date: <Create Date, 10/06/26>
-- Description:	<Description, Updates from [dbo].[USR_STTDEI]>
-- =============================================
ALTER TRIGGER [dbo].[SI_SECTOR_erp_TriggerUpdate]
   ON  [dbo].[USR_STTDEI]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY

		UPDATE [SI_SECTOR]
			SET NOMBRE_SECTOR = i.STTDEI_SECTOR, 
				DESCRIPCION = i.STTDEI_DESCRP, 
				CODIGO_DEPOSITO = i.STTDEI_DEPOSI
		FROM inserted As i
		WHERE CODIGO_DEPOSITO = i.STTDEI_DEPOSI
			and NOMBRE_SECTOR = i.STTDEI_SECTOR;

		INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA], [USUARIO])
			SELECT 'SI_SECTOR_erp_TriggerUpdate', 'SECTOR', 'UPDATED', d.STTDEI_DEPOSI + ' | ' + d.STTDEI_SECTOR + ' | ' + d.STTDEI_DESCRP,
			i.STTDEI_DEPOSI + ' | ' + i.STTDEI_SECTOR + ' | ' + i.STTDEI_DESCRP, GETUTCDATE(), 'Modificado por Servidor' 
		FROM inserted As i
			JOIN deleted As d 
				ON d.STTDEI_DEPOSI = i.STTDEI_DEPOSI
					and d.STTDEI_SECTOR = i.STTDEI_SECTOR;

    END TRY
	BEGIN CATCH
		---- Rollback si hay transaccion activa
		DECLARE @XState INT = XACT_STATE();
		IF @XState = -1 OR @XState = 1 
			ROLLBACK TRANSACTION;
		---- Intentar ingresar error en la tabla SI_UPDATE_AUDIT
		BEGIN TRY
			DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
			DECLARE @SeveridadError INT = ERROR_SEVERITY();
			DECLARE @EstadoError INT = ERROR_STATE();
			DECLARE @LogMessage NVARCHAR(4000) = CONCAT(
				'SI_SECTOR_erp_TriggerUpdate -> Error: ', @EstadoError,
				' | Severidad: ', @SeveridadError,
				' | Mensaje: ', @MensajeError
			);
			INSERT INTO [dbo].[SI_UPDATE_AUDIT] ([ID_CONCAT], [TABLA], [CAMPO], [ESTADO_OLD], [ESTADO_NEW], [FECHA_HORA])
				VALUES ('SI_SECTOR_erp_TriggerUpdate', 'SECTOR', 'ERROR', CONCAT('SI_SECTOR_erp_TriggerUpdate -> Error: ', @EstadoError,' | Severidad: ', @SeveridadError), @MensajeError, GETUTCDATE());
			RAISERROR(@LogMessage, 0, 1) WITH LOG;
		END TRY
		BEGIN CATCH
			-- capturar y mandar al log el error del insert de la tabla SI_UPDATE_AUDIT
			DECLARE @MensajeError2 NVARCHAR(4000) = 'SI_SECTOR_erp_TriggerUpdate: ' + ERROR_MESSAGE();
			DECLARE @SeveridadError2 INT = ERROR_SEVERITY();
			DECLARE @EstadoError2 INT = ERROR_STATE();
			RAISERROR(@MensajeError2, @SeveridadError2, @EstadoError2) WITH LOG;
		END CATCH
	END CATCH
END