USE [SURGICORP_ERP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_IDPAPP]    Script Date: 25/05/2026 15:55:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[INSERT_IDPAPP]
    @NROAPP  INT,
    @FCHREG  DATETIME,
    @VNDDOR  VARCHAR(60)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.USR_IDPAPP (
        IDPAPP_NROAPP,
        IDPAPP_FCHREG,
        IDPAPP_VNDDOR
    )
    VALUES (
        @NROAPP,
        @FCHREG,
        @VNDDOR
    );

    -- Power Automate necesita un result set para detectar el SP
    SELECT SCOPE_IDENTITY() AS ID_INSERTADO;
END